*{
    font: 1em sans-serif;
}
body{
    margin: 0%;
    background-color: blue;
    min-height: 100vh;
}

.sticky-footer{
    background-color: rgb(15, 11, 11);
    position: sticky;
    top: 100%;
    height: 40px;
}
.nav-container{
    background-color: rgba(150, 136, 136, 0.938);
    position: absolute;
    top: 0%;
    width: 100%;
    height: auto; 
}
.image{
    text-align: center;
}
a:hover{
    color: beige;   
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
    font-style: unset;

}   
input{
    width: 350px;
    height: 25px;
    background-color: white;
    border-color: white;
    border-radius: 10px;
}
.button-search{
    text-align: center;
}
button{
    border-radius: 10px;
    width: 100px;
    color: gray;
}
.sticky-footer a{
    color: rgb(77, 73, 73)
}
.sticky-footer a:hover{
    color: white
}
.food{
    float: right;
    margin-right: 50px;;

}
.food li a{
    color: black;
}
.food li a:hover{
    color: white;
}
nav .food{
    list-style: none;
}
nav li{
    display: inline-block;
    width: 45%;
    margin-right: 3px;
}
nav a{
    text-decoration: none;
}
p{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-weight: lighter;
    font-size: small;
    font-style: unset;
    margin-top: 50px;
}
.btn:hover{
    background-color: rgb(54, 48, 48);
}
.btn:active{
    background-color: gray;
}